<?xml version="1.0"?>
<model>
  <name>raspbot</name>
  <version>0.0.1</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>implmbp228</name>
    <email>implmbp228@example.com</email>
  </author>
  <description>Simple 4-wheel skid-steer robot model (placeholder dimensions).</description>
</model>

